sudo: required
cache:
  packages: true
  apt: true
  directories:
    - $HOME/.ya

notifications:
  email: false

addons:
  apt:
    sources:
    # - ubuntu-toolchain-r-test
      - sourceline: 'ppa:ubuntu-toolchain-r/test'
    packages:
      - build-essential
      - libc6-dev
      - python-dev
      - python3-dev

before_script: |
    # `ya` provides it's own compiler toolchains, `CC` and CXX` environment variables will override
    # them so we have to unset them.
    unset CC
    unset CXX

    unameOut="$(uname -s)"
    case "${unameOut}" in
        Linux*)     machine=Linux;;
        Darwin*)    machine=Mac;;
        CYGWIN*)    machine=Cygwin;;
        MINGW*)     machine=MinGw;;
        *)          machine="UNKNOWN:${unameOut}"
    esac
    if [ "${machine}" == "Mac" ]; then
        pip install webdavclient pycurl==7.43.0.1 || sudo pip2 install webdavclient pycurl==7.43.0.1
    else
        ubuntuver="$( lsb_release -r | awk '{ print $2 }' | sed 's/[.]//' )"
        if [ "${ubuntuver}" == "1604" ]; then
            sudo -E apt-get -yq install --no-install-suggests --no-install-recommends libgnutls28-dev libcurl4-openssl-dev libssl-dev
            pip install webdavclient || sudo pip2 install webdavclient
        elif [ "${ubuntuver}" == "1404" ]; then
            pip install webdavclient pycurl==7.43.0.1 || sudo pip2 install webdavclient pycurl==7.43.0.1
        fi
    fi

matrix:
  include:
    - os: linux
      dist: xenial
      language: cpp
      env: CB_BUILD_AGENT='clang-linux-x86_64-release-cuda'
      script: ~/build/${TRAVIS_REPO_SLUG}/ci/travis/script.sh
    - os: linux
      dist: xenial
      language: python
      python: 2.7
      env: CB_BUILD_AGENT='python2-linux-x86_64-release'
      script: ~/build/${TRAVIS_REPO_SLUG}/ci/travis/script.sh
    - os: linux
      dist: xenial
      language: python
      python: 3.5
      env: CB_BUILD_AGENT='python35-linux-x86_64-release'
      script: ~/build/${TRAVIS_REPO_SLUG}/ci/travis/script.sh
    - os: linux
      dist: trusty
      language: python
      python: 3.4
      env: CB_BUILD_AGENT='python34-linux-x86_64-release'
      script: ~/build/${TRAVIS_REPO_SLUG}/ci/travis/script.sh
    - os: linux
      dist: xenial
      language: python
      python: 3.6
      env: CB_BUILD_AGENT='python36-linux-x86_64-release'
      script: ~/build/${TRAVIS_REPO_SLUG}/ci/travis/script.sh
    - os: osx
      osx_image: xcode8.3
      language: cpp
      env: CB_BUILD_AGENT='clang-darwin-x86_64-release'
      script: ~/build/${TRAVIS_REPO_SLUG}/ci/travis/script.sh
    - os: osx
      osx_image: xcode8.3
      language: cpp
      env: CB_BUILD_AGENT='R-clang-darwin-x86_64-release'
      script: ~/build/${TRAVIS_REPO_SLUG}/ci/travis/script.sh
    - os: linux
      dist: xenial
      language: cpp
      env: CB_BUILD_AGENT='R-clang-linux-x86_64-release'
      script: ~/build/${TRAVIS_REPO_SLUG}/ci/travis/script.sh
